<h1>P치gina de Login</h1>

<p style="color: rgb(0, 55, 128)">{{message}}</p>
<p style="color: red">{{error}}</p>

<form method="post" action="/api/sessions/login">
    <input type="email" name="email" placeholder="Ingresa tu email" />
    <br>
    <input type="password" name="contrase침a" placeholder="Ingresa tu contrase침a" />
    <br>
    <button> Inicio de Sesi칩n </button>
</form>