<h1>Pagina de Perfil</h1>

{{error}}
{{message}}

<p>Te damos la bienvenida {{userEmail}}</p>

<button class="btn btn-danger"><a href="/api/sessions/logout" class="text-light text-decoration-none ">Cerrar
        Sesion</a></button>