<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluye Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/{{style}}" />
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Registro</a>
        <a href="/login">Login</a>
        <a href="/chat">Chat</a>
        <a href="/profile">Perfil</a>
    </nav>
    {{{body}}}
    <footer>Pie de página</footer>
</body>

</html>